# Python cache / build
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.junit/

# Environments
.env
.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs
*.log
logs/
